nohup.out
run.sh
__pycache__/config.cpython-37.pyc
__pycache__/rs_hyperparameter.cpython-37.pyc
__pycache__/gs_hyperparameter.cpython-37.pyc
layers/__pycache__/gsl_layer.cpython-37.pyc
dataset/__pycache__/graph_dataset.cpython-37.pyc
dataset/__pycache__/dataset_process.cpython-37.pyc
models/__pycache__/__init__.cpython-37.pyc
models/__pycache__/clustring.cpython-37.pyc
models/__pycache__/ecr_model.cpython-37.pyc
models/__pycache__/gsl.cpython-37.pyc
optimizers/__pycache__/__init__.cpython-37.pyc
optimizers/__pycache__/ecr_optimizer.cpython-37.pyc
optimizers/__pycache__/regularizers.cpython-37.pyc
utils/__pycache__/__init__.cpython-37.pyc
utils/__pycache__/evaluate.cpython-37.pyc
utils/__pycache__/eval.cpython-37.pyc
utils/__pycache__/evaluate.cpython-37.pyc
utils/__pycache__/visual.cpython-37.pyc
utils/__pycache__/train.cpython-37.pyc
utils/__pycache__/plot.cpython-37.pyc
utils/__pycache__/evaluate.cpython-37.pyc
utils/__pycache__/name2object.cpython-37.pyc
utils/__pycache__/train.cpython-37.pyc
utils/__pycache__/visual.cpython-37.pyc
utils/__pycache__/evaluate.cpython-37.pyc
utils/__pycache__/name2object.cpython-37.pyc
utils/__pycache__/evaluate.cpython-37.pyc
utils/__pycache__/visual.cpython-37.pyc
utils/__pycache__/bcubed_scorer.cpython-37.pyc
wandb/debug-cli.h3c.log
wandb/debug-internal.log
wandb/debug.log
wandb/latest-run
wandb/run-20220821_134143-3anaoz2s/run-3anaoz2s.wandb
wandb/run-20220821_134143-3anaoz2s/files/conda-environment.yaml
wandb/run-20220821_134143-3anaoz2s/files/config.yaml
wandb/run-20220821_134143-3anaoz2s/files/output.log
wandb/run-20220821_134143-3anaoz2s/files/requirements.txt
wandb/run-20220821_134143-3anaoz2s/files/wandb-metadata.json
wandb/run-20220821_134143-3anaoz2s/files/wandb-summary.json
wandb/run-20220821_134143-3anaoz2s/logs/debug-internal.log
wandb/run-20220821_134143-3anaoz2s/logs/debug.log
wandb/run-20220821_135807-2ci6x6jo/run-2ci6x6jo.wandb
wandb/run-20220821_135807-2ci6x6jo/files/conda-environment.yaml
wandb/run-20220821_135807-2ci6x6jo/files/config.yaml
wandb/run-20220821_135807-2ci6x6jo/files/output.log
wandb/run-20220821_135807-2ci6x6jo/files/requirements.txt
wandb/run-20220821_135807-2ci6x6jo/files/wandb-metadata.json
wandb/run-20220821_135807-2ci6x6jo/files/wandb-summary.json
wandb/run-20220821_135807-2ci6x6jo/logs/debug-internal.log
wandb/run-20220821_135807-2ci6x6jo/logs/debug.log
wandb/run-20220821_140855-22ha2pic/run-22ha2pic.wandb
wandb/run-20220821_140855-22ha2pic/files/conda-environment.yaml
wandb/run-20220821_140855-22ha2pic/files/config.yaml
wandb/run-20220821_140855-22ha2pic/files/output.log
wandb/run-20220821_140855-22ha2pic/files/requirements.txt
wandb/run-20220821_140855-22ha2pic/files/wandb-metadata.json
wandb/run-20220821_140855-22ha2pic/files/wandb-summary.json
wandb/run-20220821_140855-22ha2pic/logs/debug-internal.log
wandb/run-20220821_140855-22ha2pic/logs/debug.log
wandb/run-20220821_141217-2hcqmgzq/run-2hcqmgzq.wandb
wandb/run-20220821_141217-2hcqmgzq/files/conda-environment.yaml
wandb/run-20220821_141217-2hcqmgzq/files/config.yaml
wandb/run-20220821_141217-2hcqmgzq/files/output.log
wandb/run-20220821_141217-2hcqmgzq/files/requirements.txt
wandb/run-20220821_141217-2hcqmgzq/files/wandb-metadata.json
wandb/run-20220821_141217-2hcqmgzq/files/wandb-summary.json
wandb/run-20220821_141217-2hcqmgzq/logs/debug-internal.log
wandb/run-20220821_141217-2hcqmgzq/logs/debug.log
wandb/run-20220821_151835-2ja645s7/run-2ja645s7.wandb
wandb/run-20220821_151835-2ja645s7/files/conda-environment.yaml
wandb/run-20220821_151835-2ja645s7/files/config.yaml
wandb/run-20220821_151835-2ja645s7/files/output.log
wandb/run-20220821_151835-2ja645s7/files/requirements.txt
wandb/run-20220821_151835-2ja645s7/files/wandb-metadata.json
wandb/run-20220821_151835-2ja645s7/files/wandb-summary.json
wandb/run-20220821_151835-2ja645s7/logs/debug-internal.log
wandb/run-20220821_151835-2ja645s7/logs/debug.log
wandb/run-20220821_153121-rl4h6bko/run-rl4h6bko.wandb
wandb/run-20220821_153121-rl4h6bko/files/conda-environment.yaml
wandb/run-20220821_153121-rl4h6bko/files/config.yaml
wandb/run-20220821_153121-rl4h6bko/files/output.log
wandb/run-20220821_153121-rl4h6bko/files/requirements.txt
wandb/run-20220821_153121-rl4h6bko/files/wandb-metadata.json
wandb/run-20220821_153121-rl4h6bko/files/wandb-summary.json
wandb/run-20220821_153121-rl4h6bko/logs/debug-internal.log
wandb/run-20220821_153121-rl4h6bko/logs/debug.log
wandb/run-20220821_153941-c4bedxop/run-c4bedxop.wandb
wandb/run-20220821_153941-c4bedxop/files/conda-environment.yaml
wandb/run-20220821_153941-c4bedxop/files/config.yaml
wandb/run-20220821_153941-c4bedxop/files/output.log
wandb/run-20220821_153941-c4bedxop/files/requirements.txt
wandb/run-20220821_153941-c4bedxop/files/wandb-metadata.json
wandb/run-20220821_153941-c4bedxop/files/wandb-summary.json
wandb/run-20220821_153941-c4bedxop/logs/debug-internal.log
wandb/run-20220821_153941-c4bedxop/logs/debug.log
wandb/run-20220821_154804-zh9xin97/run-zh9xin97.wandb
wandb/run-20220821_154804-zh9xin97/files/conda-environment.yaml
wandb/run-20220821_154804-zh9xin97/files/config.yaml
wandb/run-20220821_154804-zh9xin97/files/output.log
wandb/run-20220821_154804-zh9xin97/files/requirements.txt
wandb/run-20220821_154804-zh9xin97/files/wandb-metadata.json
wandb/run-20220821_154804-zh9xin97/files/wandb-summary.json
wandb/run-20220821_154804-zh9xin97/logs/debug-internal.log
wandb/run-20220821_154804-zh9xin97/logs/debug.log
wandb/run-20220821_155629-twt11adt/run-twt11adt.wandb
wandb/run-20220821_155629-twt11adt/files/conda-environment.yaml
wandb/run-20220821_155629-twt11adt/files/config.yaml
wandb/run-20220821_155629-twt11adt/files/output.log
wandb/run-20220821_155629-twt11adt/files/requirements.txt
wandb/run-20220821_155629-twt11adt/files/wandb-metadata.json
wandb/run-20220821_155629-twt11adt/files/wandb-summary.json
wandb/run-20220821_155629-twt11adt/logs/debug-internal.log
wandb/run-20220821_155629-twt11adt/logs/debug.log
wandb/sweep-av6vsgrc/config-152qav3d.yaml
wandb/sweep-av6vsgrc/config-c8wxovgk.yaml
wandb/sweep-av6vsgrc/config-lyj1gopi.yaml
wandb/sweep-av6vsgrc/config-ojx9g0l1.yaml
wandb/sweep-av6vsgrc/config-y8hedtfu.yaml
wandb/sweep-galykqgv/config-02qzn9x7.yaml
wandb/sweep-galykqgv/config-doncsrk7.yaml
wandb/sweep-galykqgv/config-f1odal94.yaml
wandb/sweep-galykqgv/config-w7berdu1.yaml
wandb/sweep-galykqgv/config-x2qcxf36.yaml
wandb/sweep-galykqgv/config-y5wje0mp.yaml
wandb/sweep-ktufafhy/config-aenpnmg2.yaml
wandb/sweep-ktufafhy/config-f2f5rpcw.yaml
wandb/sweep-ktufafhy/config-g7nkwml7.yaml
wandb/sweep-ww3foqob/config-c4bedxop.yaml
wandb/sweep-ww3foqob/config-rl4h6bko.yaml
wandb/sweep-ww3foqob/config-twt11adt.yaml
wandb/sweep-ww3foqob/config-zh9xin97.yaml
wandb/run-20220821_160454-n7jhjz0u/run-n7jhjz0u.wandb
wandb/run-20220821_160454-n7jhjz0u/files/conda-environment.yaml
wandb/run-20220821_160454-n7jhjz0u/files/config.yaml
wandb/run-20220821_160454-n7jhjz0u/files/output.log
wandb/run-20220821_160454-n7jhjz0u/files/requirements.txt
wandb/run-20220821_160454-n7jhjz0u/files/wandb-metadata.json
wandb/run-20220821_160454-n7jhjz0u/files/wandb-summary.json
wandb/run-20220821_160454-n7jhjz0u/logs/debug-internal.log
wandb/run-20220821_160454-n7jhjz0u/logs/debug.log
wandb/sweep-ww3foqob/config-n7jhjz0u.yaml
wandb/run-20220821_162737-v2qz2ihi/run-v2qz2ihi.wandb
wandb/run-20220821_162737-v2qz2ihi/files/config.yaml
wandb/run-20220821_162737-v2qz2ihi/files/wandb-summary.json
wandb/run-20220821_162737-v2qz2ihi/logs/debug-internal.log
wandb/run-20220821_162737-v2qz2ihi/logs/debug.log
wandb/sweep-ww3foqob/config-v2qz2ihi.yaml
wandb/run-20220821_162737-v2qz2ihi/files/conda-environment.yaml
wandb/run-20220821_162737-v2qz2ihi/files/output.log
wandb/run-20220821_162737-v2qz2ihi/files/requirements.txt
wandb/run-20220821_162737-v2qz2ihi/files/wandb-metadata.json
wandb/run-20220821_174150-10lk003y/run-10lk003y.wandb
wandb/run-20220821_174150-10lk003y/files/conda-environment.yaml
wandb/run-20220821_174150-10lk003y/files/config.yaml
wandb/run-20220821_174150-10lk003y/files/output.log
wandb/run-20220821_174150-10lk003y/files/requirements.txt
wandb/run-20220821_174150-10lk003y/files/wandb-metadata.json
wandb/run-20220821_174150-10lk003y/files/wandb-summary.json
wandb/run-20220821_174150-10lk003y/logs/debug-internal.log
wandb/run-20220821_174150-10lk003y/logs/debug.log
wandb/run-20220821_175055-ptunkrzc/run-ptunkrzc.wandb
wandb/run-20220821_175055-ptunkrzc/files/conda-environment.yaml
wandb/run-20220821_175055-ptunkrzc/files/config.yaml
wandb/run-20220821_175055-ptunkrzc/files/output.log
wandb/run-20220821_175055-ptunkrzc/files/requirements.txt
wandb/run-20220821_175055-ptunkrzc/files/wandb-metadata.json
wandb/run-20220821_175055-ptunkrzc/files/wandb-summary.json
wandb/run-20220821_175055-ptunkrzc/logs/debug-internal.log
wandb/run-20220821_175055-ptunkrzc/logs/debug.log
wandb/run-20220821_175646-rm0brc1e/run-rm0brc1e.wandb
wandb/run-20220821_175646-rm0brc1e/files/conda-environment.yaml
wandb/run-20220821_175646-rm0brc1e/files/config.yaml
wandb/run-20220821_175646-rm0brc1e/files/output.log
wandb/run-20220821_175646-rm0brc1e/files/requirements.txt
wandb/run-20220821_175646-rm0brc1e/files/wandb-metadata.json
wandb/run-20220821_175646-rm0brc1e/files/wandb-summary.json
wandb/run-20220821_175646-rm0brc1e/logs/debug-internal.log
wandb/run-20220821_175646-rm0brc1e/logs/debug.log
wandb/run-20220821_180237-s0ltsk2b/run-s0ltsk2b.wandb
wandb/run-20220821_180237-s0ltsk2b/files/conda-environment.yaml
wandb/run-20220821_180237-s0ltsk2b/files/config.yaml
wandb/run-20220821_180237-s0ltsk2b/files/output.log
wandb/run-20220821_180237-s0ltsk2b/files/requirements.txt
wandb/run-20220821_180237-s0ltsk2b/files/wandb-metadata.json
wandb/run-20220821_180237-s0ltsk2b/files/wandb-summary.json
wandb/run-20220821_180237-s0ltsk2b/logs/debug-internal.log
wandb/run-20220821_180237-s0ltsk2b/logs/debug.log
wandb/run-20220821_180840-8mv4rvg2/run-8mv4rvg2.wandb
wandb/run-20220821_180840-8mv4rvg2/files/conda-environment.yaml
wandb/run-20220821_180840-8mv4rvg2/files/config.yaml
wandb/run-20220821_180840-8mv4rvg2/files/output.log
wandb/run-20220821_180840-8mv4rvg2/files/requirements.txt
wandb/run-20220821_180840-8mv4rvg2/files/wandb-metadata.json
wandb/run-20220821_180840-8mv4rvg2/files/wandb-summary.json
wandb/run-20220821_180840-8mv4rvg2/logs/debug-internal.log
wandb/run-20220821_180840-8mv4rvg2/logs/debug.log
wandb/run-20220821_181200-x0u3iov6/run-x0u3iov6.wandb
wandb/run-20220821_181200-x0u3iov6/files/conda-environment.yaml
wandb/run-20220821_181200-x0u3iov6/files/config.yaml
wandb/run-20220821_181200-x0u3iov6/files/output.log
wandb/run-20220821_181200-x0u3iov6/files/requirements.txt
wandb/run-20220821_181200-x0u3iov6/files/wandb-metadata.json
wandb/run-20220821_181200-x0u3iov6/files/wandb-summary.json
wandb/run-20220821_181200-x0u3iov6/logs/debug-internal.log
wandb/run-20220821_181200-x0u3iov6/logs/debug.log
wandb/run-20220821_181758-feko1srx/run-feko1srx.wandb
wandb/run-20220821_181758-feko1srx/files/conda-environment.yaml
wandb/run-20220821_181758-feko1srx/files/config.yaml
wandb/run-20220821_181758-feko1srx/files/output.log
wandb/run-20220821_181758-feko1srx/files/requirements.txt
wandb/run-20220821_181758-feko1srx/files/wandb-metadata.json
wandb/run-20220821_181758-feko1srx/files/wandb-summary.json
wandb/run-20220821_181758-feko1srx/logs/debug-internal.log
wandb/run-20220821_181758-feko1srx/logs/debug.log
wandb/run-20220821_182341-l03s67mm/run-l03s67mm.wandb
wandb/run-20220821_182341-l03s67mm/files/conda-environment.yaml
wandb/run-20220821_182341-l03s67mm/files/config.yaml
wandb/run-20220821_182341-l03s67mm/files/output.log
wandb/run-20220821_182341-l03s67mm/files/requirements.txt
wandb/run-20220821_182341-l03s67mm/files/wandb-metadata.json
wandb/run-20220821_182341-l03s67mm/files/wandb-summary.json
wandb/run-20220821_182341-l03s67mm/logs/debug-internal.log
wandb/run-20220821_182341-l03s67mm/logs/debug.log
wandb/run-20220821_182926-ik0lqb9q/run-ik0lqb9q.wandb
wandb/run-20220821_182926-ik0lqb9q/files/conda-environment.yaml
wandb/run-20220821_182926-ik0lqb9q/files/config.yaml
wandb/run-20220821_182926-ik0lqb9q/files/output.log
wandb/run-20220821_182926-ik0lqb9q/files/requirements.txt
wandb/run-20220821_182926-ik0lqb9q/files/wandb-metadata.json
wandb/run-20220821_182926-ik0lqb9q/files/wandb-summary.json
wandb/run-20220821_182926-ik0lqb9q/logs/debug-internal.log
wandb/run-20220821_182926-ik0lqb9q/logs/debug.log
wandb/sweep-n8v4j52t/config-feko1srx.yaml
wandb/sweep-n8v4j52t/config-ik0lqb9q.yaml
wandb/sweep-n8v4j52t/config-l03s67mm.yaml
wandb/sweep-n8v4j52t/config-x0u3iov6.yaml
wandb/sweep-tn5ryvut/config-3z4z9027.yaml
wandb/sweep-tn5ryvut/config-bvi3arho.yaml
wandb/sweep-tn5ryvut/config-o8oak6ml.yaml
wandb/sweep-tn5ryvut/config-qkhij5bl.yaml
wandb/sweep-tuzcsox9/config-8mv4rvg2.yaml
wandb/sweep-tuzcsox9/config-ptunkrzc.yaml
wandb/sweep-tuzcsox9/config-rm0brc1e.yaml
wandb/sweep-tuzcsox9/config-s0ltsk2b.yaml
wandb/run-20220821_185223-knuh5rgl/run-knuh5rgl.wandb
wandb/run-20220821_185223-knuh5rgl/files/conda-environment.yaml
wandb/run-20220821_185223-knuh5rgl/files/config.yaml
wandb/run-20220821_185223-knuh5rgl/files/output.log
wandb/run-20220821_185223-knuh5rgl/files/requirements.txt
wandb/run-20220821_185223-knuh5rgl/files/wandb-metadata.json
wandb/run-20220821_185223-knuh5rgl/files/wandb-summary.json
wandb/run-20220821_185223-knuh5rgl/logs/debug-internal.log
wandb/run-20220821_185223-knuh5rgl/logs/debug.log
